defaults:
  - override hydra/job_logging: none

seed: 1348

model:
  name: "hf_hub:timm/vit_huge_patch14_clip_224.laion2b_ft_in12k"
  compile: true
  model_checkpoint: null
  num_classes: 150
  head_drop: 0.25
  cat_cls: true
  use_mlp: true

dataset:
  num_proc: 16
  name: scene_parsing_ade20k
  num_classes: 150
  transforms:
    image_processor: "nvidia/mit-b0"
    image_size: 518
    # normalize
    mean: [0.48145466, 0.4578275, 0.40821073]
    std: [0.26862954, 0.26130258, 0.27577711]
    # colour jitter
    jitter:
      enable: true
      brightness: 0.25
      contrast: 0.25
      saturation: 0.25
      hue: 0.1

  # dataloader settings
  batch_size: 4
  num_workers: 4
  val_batch_size: 4
  val_num_workers: 4
  pin_memory: true